body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/static/image/13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

