<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Send Mail</title>
    {% load crispy_forms_filters %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mail.css' %}">
</head>
<body>
    <!--<div class="container bg-light" style="margin-top: 6%;">-->
        {% for msg in messages %}
        <center>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg></strong> {{ msg }}
           <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
        </div>
        </center>
        {% endfor %}
        <h1 style="text-align: center;margin-top: 7px;">SENDING MAIL</h1>
        <form action="{% url 'stdform' %}" method="post" style="padding-left: 20%;width: 75%;">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="margin-bottom: 4%;">
                    <button style="margin-top: 30px;" type="submit" class="btn btn-primary rounded pill w-100">Send Mail</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
   <!-- </div>-->
</body>
</html>